* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #666;
    background-color: #000;
}

.navbar {
    border-bottom: solid 1px #2f2b2b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 15px 20px;
    margin-bottom: 50px;
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    width: 40px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 0 20px;
}

.swagger{
    font-weight: 900;
    font-size: large;
    color: burlywood;
    transition: color 0.5s ease;
}

.navbar .links {
    display: flex;
    align-items: center;
}



.navbar .swagger {
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.links ul {
    display: flex;
    list-style: none;
}

.links li {
    margin: 0 40px;
}


.data {
    text-decoration: none;
    transition: color 1s ease;
    border-radius: 10px;
    padding: 5px 20px;
    border: 0.6px solid #2f2b2b;
}
.data:hover {
    color: #fff;
    background-color: #2f2b2b;
}

.countries {
    text-decoration: none;
    transition: color 1s ease;
    border: none;
}

.countries:hover {
    color: #fff;
}

.codes {
    text-decoration: none;
    transition: color 1s ease;
    border: none;
}
.codes:hover {
    color: #fff;
}


/* MAIN */

.btn {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    transition: color 1s ease;
    border-radius: 10px;
    padding: 10px 20px;
    border: 0.6px solid #2f2b2b;
    font-size: 1.5rem;
}

.btn:hover {
    color: #fff;
    background-color: #2f2b2b;
}

h1 {
    margin-top: 100px;
    font-weight: 100;
    font-size: 150px;
    text-align: center;
    letter-spacing: 15px;
}

p {
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 50px;
}
