* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #666;
    background-color: #000;
}

.navbar {
    border-bottom: solid 1px #2f2b2b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 15px 20px;
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    width: 40px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 0 20px;
}

.swagger{
    font-weight: 900;
    font-size: large;
    color: burlywood;
    transition: color 0.5s ease;
}

.navbar .links {
    display: flex;
    align-items: center;
}

.navbar .links ul {
    display: flex;
    list-style: none;
}

.navbar .links ul li a {
    text-decoration: none;
    margin-right: 20px;
    padding: 5px 20px;
    font-size: 1rem;
    transition: color 0.5s ease;
}

.navbar .swagger {
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.data {
    transition: color 1s ease;
    border-radius: 10px;
    border: 0.6px solid #2f2b2b;
}

.data:hover {
    color: #fff;
    background-color: #2f2b2b;
}


main {
    background-color: #000;
}

.enlaces {
    display: flex;
    justify-content: center;

}

.enlaces a {
    margin: 40px auto;
    text-decoration: none;
    transition: color 0.5s ease;
}


.enlaces_data {
    transition: color 1s ease;
    border-radius: 10px;
    padding: 5px 20px;
    border: 0.6px solid #2f2b2b;
}

.enlaces_data:hover {
    color: #fff;
    background-color: #2f2b2b;
}



h1 {
    margin-top: 100px;
    font-weight: 100;
    font-size: 150px;
    text-align: center;
    letter-spacing: 15px;
}

p {
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 50px;
}
